.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*@media () {
}*/


.App-logo{
animation: App-logo-vueltas infinite 20s linear;
}

@keyframes App-logo-vueltas {
  from {
    transform: rotate (0deg)
  } to {
    transform: rotate(360deg)
  } 
}

/*definimos posiciones, rotaciones, etc en la linea de tiempo*/

/* en principio apunta a 0 grados y que gire 360 grados*/
